.two-column-tout {
  transition: 1s linear all;
  opacity: 0;
  width: 50%;
}
.two-column-tout.delayed-active {
  transition: 1s linear all 0.75s;
}
.two-column-tout.active {
  opacity: 1;
  transform: translateY(-13rem);
}

.two-column-tout:first-child {
  margin-left: -3rem;
  margin-right: 2.5rem;
}

.two-column-tout:last-child {
  margin-right: -3rem;
}

.two-column-tout__header {
  text-align: center;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.two-column-tout__header > h2 {
  color: white;
}

.two-column-tout__header--maroon  {
  background: #a70240;
}

.two-column-tout__header--teal {
  background: #0094b3;
}

.two-column-tout__columns {
  display: flex;
  background: white;
}

.two-column-tout__columns > div {
  float: left;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
}

.two-column-tout__columns h2 + p {
  text-align: left;
}

.two-column-tout__columns--maroon > div:first-child {
  border-right: 1px solid #a70240;
}

.two-column-tout__columns--maroon > div {
  border-bottom: 4px solid #a70240;
}

.two-column-tout__columns--teal > div {
  border-bottom: 4px solid #0094b3;
}

.two-column-tout__columns--teal > div:first-child {
  border-right: 1px solid #0094b3;
}

.two-column-tout__columns > div p {
  font-size: 1.6rem;
}

.two-column-tout__columns > div h2 {
  font-size: 2.8rem;
}

.two-column-tout__columns--maroon h2 {
  color: #a70240;
}

.two-column-tout__columns--teal h2 {
  color: #0094b3;
}

.two-column-tout__columns__content > svg {
  margin-bottom: 2rem;
  height: 41px;
  align-self: center;
}

.two-column-tout__columns__content > h2 {
  text-align: center;
}

.two-column-tout__columns__content__brands {
  text-align: center;
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.two-column-tout__columns__content__brands--maroon > p {
  color: #a70240;
}

.two-column-tout__columns__content__brands--teal > p {
  color: #0094b3;
}

@media (max-width: 900px) {
  .two-column-tout {
    width: 100%;
  }
  .two-column-tout:first-child {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .two-column-tout__columns {
    flex-direction: column;
  }
  .two-column-tout.active {
    transform: translateY(-8rem);
  }
}
